.image_dropdown{
    border: 1px solid #FE616B;
    border-radius: 100px;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px 0 24px;
}
.dropbtn {
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    opacity: 0.3;
}
.image_dropdown:hover {
    border: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background: #FFF;
    border-radius: 16px;
    width: 100%;
    max-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 22px;
}

.dropdown-content a {
    letter-spacing: 0.012em;
    color: rgba(101, 1, 7, 0.87);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 400;
    font-size: 16px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display:block;
}
.dropdown-content:before {
    position: absolute;
    display: block;
    content: '';
    bottom: 100%; right: 25px;
    width: 7px; height: 7px;
    margin-bottom: -4px;
    border-top: 1px solid #FFF;
    border-left: 1px solid #FFF;
    background: #fff;
    transform: rotate(45deg);
    transition: all .4s ease-in-out;
}



/*.dropdown-content:hover{
    background-color: #f1f1f1;
    position: absolute;
    display: block;
    content: '';
    bottom: 100%; right: 25px;
    width: 7px; height: 7px;
    margin-bottom: -4px;
    border-top: 1px solid #FFF;
    border-left: 1px solid #FFF;
    transform: rotate(45deg);
    transition: all .4s ease-in-out;
}*/
