@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
						/*Reset Style*/
body{
	margin: 0;
	padding: 0;
	font-family: Montserrat;
	background: #FAFAFA;
}
*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
				/*Header*/
.sc-header{
	position: relative;
	z-index: 1;
	background-color: #fff;
	padding: 1px;
	margin-bottom: 40px;
	filter: drop-shadow(0px 4px 24px rgba(254, 97, 107, 0.04));
}
.container-header{
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0;
}
.flex-banner{
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 14px;
}
.menu{
	display: flex;
	align-items: center;
	list-style-type: none;
	color: rgba(101, 1, 7, 0.6);
	letter-spacing: 0.012em;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	margin-right: 50px;
}
.contact_us{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.contact{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#search{
	padding-right: 12px;
}
#contact-banner{
	padding-right: 12px;
}
#announcement{
	position: relative;
}
#announcement::after{
	background: red;
	border: red 1px solid;
	content: '2';
	color: #FFF;
	position: absolute;
	transform: translate(48%, -50%);
	top: 10%;
	right: 0;
	height: 20px;
	width: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}
ul>li>a{
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.012em;
	color: rgba(101, 1, 7, 0.6);
	padding-bottom: 30px;
}
#home-page{
	margin-right: 39px;
}
.menu a{
	position: relative;
}
.menu a:hover{
	color: #FE616B;
	text-decoration: none;
}
.menu a:focus{
	color: #FE616B;
	text-decoration: none;
}
.menu a:after{
	content: '';
	width: 48px;
	height: 4px;
	background: #FE616B;
	position: absolute;
	bottom: -4px;
	left: 50%;
	transform: translate(-50%);
	border-radius: 8px 8px 0px 0px;
	display: none;
}
.menu a:hover:after{
	display: block;
	color: #FE616B;
	text-decoration: none;
}
.menu a:focus:after{
	display: block;
	color: #FE616B;
	text-decoration: none;
}
#hire-players{
	margin-right: 40px;
}
.dropdown{
	display: flex;
	align-items: center;
}
#icon_the_mouth{
	position: relative;
  	top: 16px;
  	right: 135px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	background-color: yellow;
	border-radius: 100px;
	border: 2px solid #FFF;
}
.logo{
	padding-right: 85px;
}
#hire-players{
	margin-right: 40px;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.012em;
	color: #FE616B;
}
#hire-players:after{
	content: '';
	width: 48px;
	height: 4px;
	background: #FE616B;
	position: absolute;
	bottom: -4px;
	left: 50%;
	transform: translate(-50%);
	border-radius: 8px 8px 0px 0px;
	display: block;
}
.dropdown-content>a:nth-child(3):hover{
	color: #f1f1f1 !important;
	background-color: rgba(101, 1, 7, 0.87);
}
.name-menu{
	display: none;
}
.hamburger-menu{
	display: none;
}
						/*End Header*/


							/*Dropdown*/
.image_dropdown{
    border: 1px solid #FE616B;
    border-radius: 100px;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px 0 24px;
}
.dropbtn {
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    opacity: 0.3;
}
.image_dropdown:hover {
    border: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background: #FFF;
    border-radius: 16px;
    width: 100%;
    max-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 22px;
}

.dropdown-content a {
    letter-spacing: 0.012em;
    color: rgba(101, 1, 7, 0.87);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 400;
    font-size: 16px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display:block;
}
.dropdown-content:before {
    position: absolute;
    display: block;
    content: '';
    bottom: 100%; right: 25px;
    width: 7px; height: 7px;
    margin-bottom: -4px;
    border-top: 1px solid #FFF;
    border-left: 1px solid #FFF;
    background: #fff;
    transform: rotate(45deg);
    transition: all .4s ease-in-out;
}
						/*End Dropdown*/

					/*Modal Nạp Tiền*/
.popup{
  padding: 24px 0 40px;
}
.padding_header_recharge{
  padding: 0 24px;
  text-align: right;
}
.padding_contant_recharge{
	margin-top: 24px;
	padding: 0 12px 0 24px;
}
/*Style*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.72); /* Fallback color */
/*  background-color: rgba(0,0,0,0.4);*/
  /*transition: opacity 500ms;*/
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  padding-top: 100px;
  z-index: 1;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  background: #FFFFFF;
  border-radius: 24px;
  margin: auto;
  max-width: 628px;
  width: 100%;
  transition: all 1.5s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.header_recharge{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 16px;
	border-bottom: 1px solid #E2E2E2;
}
.header_recharge>div:nth-child(1){
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.024em;
	color: rgba(101, 1, 7, 0.87);
}
.header_recharge>img{
	width: 20px;
	height: 20px;
	object-fit: cover;
}
.item_recharge{
	display: flex;
}
.border_bottom{
	padding-bottom: 16px;
	border-bottom: 1px solid #E2E2E2;
}
.padding_top{
	padding-top: 16px;
}
.text_recharge{
	padding-left: 12px;
}
.text_recharge>div:nth-child(1)>a{
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.012em;
	color: rgba(101, 1, 7, 0.87);
	text-decoration: none;
	padding-bottom: 4px;
}
.text_recharge>div:nth-child(1)>a:hover{
	color: red;
	text-shadow: 2px 1px 0px #fff, 3px 2px 0px rgba(0,0,0,0.15);
}
.text_recharge>div:nth-child(2){
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.012em;
	color: rgba(101, 1, 7, 0.6);
}
				/*End Modal Nạp Tiền*/
				/*Chat Box*/
.chat__window{
  padding: 14px 0px 16px;
}
.message{
  cursor: pointer;
}

.chatbox {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  z-index: 1;
}
.chatbox:target {
  visibility: visible;
  opacity: 1;
}
.chatbox{

}
.chat__window {
  box-shadow: 0px 0px 12px  #888888;
  background: #FAFAFA;;
  border-radius: 24px 24px 0px 0px;
  margin: auto;
  padding: 0;
  height: 488px;
  max-width: 367px;
  width: 100%;
  transition: all 1.5s ease-in-out;
  position: absolute;
  bottom: -100%;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chat__window.new__window{
   bottom: 0;
   transition: all 1.5s ease-in-out;
}
.chat__window .chat__close {
  transition: all 200ms;
  text-decoration: none;
  color: rgba(101, 1, 7, 0.38);
  font-size: 35px;
  line-height: 35px;
}
.chat__close:hover,
.chat__close:focus {
  color: peachpuff;
  text-decoration: none;
  cursor: pointer;
}

.header__chat{
  background: #FFFFFF;
  border-radius: 24px 24px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}
.name_image{
  display: flex;
  align-items: center;
}
.name_image>div:nth-child(2){
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: #650107;
  padding-left: 8px;
}
.name_image>img{
  width: 24px;
  height: 24px;
  object-fit: cover;
  border: 1px solid #6EBAC4;
  border-radius: 50%;
}

.layout__chat{
  padding: 0 12px;
}
.people__chat{
  display: flex;
  padding-bottom: 24px;
}
.people__chat>img{
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.text__people{
  background: #FFFFFF;
  border-radius: 8px;
  padding: 12px;
  max-width: 251px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin-left: 12px;
}
.text__people>div:nth-child(1){
  font-size: 14px;
  color: #650107;
}
.text__people>div:nth-child(2){
  font-size: 12px;
  color: rgba(101, 1, 7, 0.38);
}

.me__chat{
  display: flex;
  flex-direction: row-reverse ;
}
.me__chat>img{
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.text__me{
  background: linear-gradient(180deg, #FE858D 0%, #FE616B 100%);
  border-radius: 8px;
  padding: 12px;
  max-width: 251px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin-right: 12px;
}
.text__me>div:nth-child(1){
  font-size: 14px;
  color: #FFFFFF;
}
.text__me>div:nth-child(2){
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.send__chat{
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(29, 68, 73, 0.08);
  border-radius: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  margin: 24px 0 16px;
}
.text__send{
  display: flex;
  align-items: center;
}
.text__send>img{
  width: 24px;
  height: 24px;
  object-fit: cover;
  margin-right: 8px;
}
.text__send>input[type=text]{
  border: none;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: rgba(101, 1, 7, 0.32);
}
.text__send>input[type=text]::placeholder{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: rgba(101, 1, 7, 0.32);
}
.link__send>a:nth-child(2){
  margin-left: 16px;
}
.text__send>input[type=text]:focus{
  border: 2px solid peachpuff;
  box-shadow: pink 0px 3px 8px;
}
				/*End Chat Box*/
		
			/*Notification*/
.notification-menu {
  box-shadow: inset 0 0 5px 1px;
  position: absolute;
  top: 100%;
  right: 15%;
  border: #989898;
  padding: 10px;
  list-style: none;
  width: 200px;
  height: 200px;
  display: none;
}
.notification-menu li {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

.notification-menu .avatar {
  padding: 2px 0;
}

.notification-menu h3 {
  font-size: 15px;
  margin: 0 0 5px 0;
  display: inline;
}

.notification-menu p {
  margin-bottom: 0;
  font-size: 14px;
}
		/*End Notification*/
		
		/*Center*/
.container_center{
	max-width: 1280px;
	margin: 0 auto;
	width: 100%;
	padding: 0;
}   
.flex_center{
	display: flex;
	justify-content: space-between;
}
.top_player{
	max-width: 278px;
	width: 100%;
}
.name_top_rich{
	width: 100%;
}
.quantily_rich{
	max-width: 278px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content:  space-between;
	background: #FEFEFE;
	border-radius: 24px;
	position: relative;
	padding: 10px 8px 12px;
	margin: 24px 0px 8px;
}
.quantily_rich:after{
	position: absolute;
	right: 29%;
	content: '+3';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	text-align: right;
	letter-spacing: 0.012em;
	color: rgba(101, 1, 7, 0.38);
}
.img1{
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 50%;
	border: 2px solid #FAFAFA;
}
.img2{
	margin-left: -11px;
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 50%;
	border: 2px solid #FAFAFA;
}
.img3{
	margin-left: -11px;
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 50%;
	border: 2px solid #FAFAFA;
}
.img4{
	margin-left: -11px;
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 50%;
	border: 2px solid #FAFAFA;
}
.img5{
	margin-left: -11px;
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 50%;
	border: 2px solid #FAFAFA;
}
.quantily_rich>button{
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: none;
	background: rgba(254, 97, 107, 0.08);
}
.quantily_rich>button:hover{
	box-shadow: 0 0 5px;
}
.name_top_rich>div:nth-child(1){
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px
	letter-spacing: 0.012em;
	color: rgba(101, 1, 7, 0.24);
}
#nav-tab{
	display: none;
}
						/*Trò Chuyện*/
.talking-inner {
    padding: 32px 12px 42px;
    background: #FEFEFE;
    border-radius: 0px 24px 24px 24px;
}

.talking-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
}

.talking-img {
    cursor: pointer;
}

.talking-content {
    padding-left: 8px;
}

.talking-content__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    cursor: pointer;
}

.talking-content__name {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.012em;
    color: rgba(101, 1, 7, 0.38);
}

.talking-content__time {
    font-size: 12px;
    line-height: 20px;
    
    
    text-align: right;
    letter-spacing: 0.012em;
    
    color: rgba(101, 1, 7, 0.38);
    
}

.talking-content__text {
    background: rgba(101, 1, 7, 0.02);
    border-radius: 0px 16px 16px 16px;
}

.talking-content__text p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.012em;
    padding: 8px 12px;
    color: rgba(101, 1, 7, 0.87);
}


.talking-input {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

.talking-input__box {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.012em;
    color: rgba(101, 1, 7, 0.32);
    outline: none;
    border: none;
    flex: 1;
    border-radius: 10px;
    padding: 0 10px;
}

.talking-input__box:focus, .talking-input__box:focus-visible {
   	border: 1px solid #FE858D ;
}

.talking-send {
    width: 40px;
    height: 40px;
    background: linear-gradient(180deg, #FE858D 0%, #FE616B 100%);
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.talking-img{
	width: 32px;
	height: 32px;
	object-fit: cover;
	border-radius: 50%;
}
						/*End Trò Chuyện*/
						/*Div Right*/
.vip_player{
	margin-bottom: 72px;
}
.list_player{
	width: 100%;
	max-width: 955px;
}
.folder_vip{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 24px;
}
.name_active{
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.012em;
	color: rgba(101, 1, 7, 0.28);
	position: relative;
}
.active{
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.012em;
	color: #FE616B !important;
	position: relative;
}
.name_active:after{
	content:'';
	background: #FE616B;
	border-radius: 0px 100px 100px 0px;
	width: 64px;
	height: 2.5px;
	position: absolute;
	top: 30px;
	left: 0;
}
.folder_vip>button{
	display: flex;
	align-items: center;
	padding: 10px 24px;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.012em;
	color: #FFFFFF;
	background: linear-gradient(180deg, #FE858D 0%, #FE616B 100%);
	border: none;
	border-radius: 8px;
}
.folder_vip>button>img{
	transform: rotate(-180deg);
	transition: all 2s;
	margin-right: 8px;
}
.folder_vip>button:hover img{
	transform: rotate(180deg);
	transition: all 0.5s ;
	transition-timing-function: linear;
}
.folder_vip>button:hover{
	box-shadow: 0 0 2px 2px  rgba(0, 0, 0, 0.3) ;
}
				/*Grid*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 50px;
}
.item{
	position: relative;
	padding-top: 60px;
}
.cart-img-profile{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
}
.cart-bottom>div>img{
	margin-right: 4px;
}
.cart-infor{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: white;
	box-shadow: 0px 12px 32px rgba(254, 97, 107, 0.04);
	border-radius: 16px;
	padding-top: 70px;
}
.cart-profile{
	background: url(top-10-streamer-dinh-nhat-viet-nam-QTV.jpg);
	border: 4px solid #FFFFFF;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	object-fit: cover;
}
.cart-name{
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	text-transform: capitalize;
	text-align: center;
	letter-spacing: 0.012em;
	color: #650107;

}
.cart-rating{
	margin-top: 4px;
	margin-bottom: 16px;
}
.cart-game{
	margin-bottom: 26px;
}
.cart-bottom{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.cart-bottom p:first-child{
	margin: 0;
	font-size: 16px;
	line-height: 24px;
	padding: 10px 16px;
	letter-spacing: 0.012em;
	background: #E9E8E8;
	border-radius: 0px 16px;
	color: rgba(101, 1, 7, 0.38);
}
.cart-bottom>div{
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0.012em;
	color: rgba(101, 1, 7, 0.38);
	display: flex;
	align-items: center;
	padding-right:16px;
}
.cart-bottom p:nth-child(2){
	padding-right: 16px;
}
.cart-bottom p:nth-child(2) img{
	margin-right: 4px;
}
.cart-bottom>p>span{
	font-weight: bold;
	color: #FE616B;
}
.list_game{
	padding-bottom: 16px;
}
.list_game>img{
	width: 28px;
	height: 28px;
	object-fit: cover;
	border-radius: 50%;
}
.list_game>button{
	background: none;
	border: none;
}
				/*End Grid*/

						/*End Div Right*/
		/*End Center*/



			/*Media Query*/
@media only screen and (max-width: 1278px){
	.sc-header {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		box-shadow: 0px 3px 6px 0px #6f6262c2;
	}
	.sc-center{
		margin-top: 100px;
	}
	.container_center{
		padding: 0 15px;
		margin: 0;
	}
	.menu li{
		display: none;
	}
	.contact-us-profile{
		display: flex;
		align-items: center;
	}
	.hamburger-menu{
		display: flex;
		align-items: center;
	}
	.flex-banner{
		padding: 0 15px;
	}
}
@media only screen and (max-width: 1064px){
	.top_player{
		max-width: 100%;
		background: #FFFFFF;
		border-radius: 24px;
		margin-bottom: 40px;
	}
	#nav-tab{
		display: flex;
		justify-content: center;
		margin-bottom: 24px;
	}
	.name_top_rich>div:nth-child(1){
		display: flex;
	    align-items: center;
	    justify-content: center;
	}
	.nav-tabs .nav-item.show .nav-link, 
	.nav-tabs .nav-link.active{
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		letter-spacing: 0.012em;
		text-transform: capitalize;
		color: #FE616B;
		margin-right: 50px;
		border-bottom: 2px solid #FE616B;
	}
	.nav-tabs .nav-link{
		margin-left: 50px;
	}
	.flex_center{
		align-items: center;
		flex-direction: column;
	}
	#nav-tab>a{
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.012em;
		text-transform: capitalize;
		color: rgba(101, 1, 7, 0.2);
	}
	div#nav-tabContent {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}
	.top_rich {
   		 display: flex;
	}
}
@media only screen and (max-width: 752px){
	.grid-container{
		grid-template-columns: auto auto;
	}
}
@media only screen and (max-width: 699px){
	.top_rich {
   		 display: flex;
   		 flex-wrap: wrap;
	}
	.name_top_rich{
		flex: 0 0 50%;
	}
}
@media only screen and (max-width: 720px){
	.menu li{
		display: none;
	}
	.name-menu{
		display: block;
	}
	.menu-header h4{
		font-weight: 600;
		font-size: 14px;
		line-height: 20px
		letter-spacing: 0.012em;
		text-transform: capitalize;
		color: #FE858D;
		padding-top: 5px;

	}
	.main-item{
		display: block;
	}
	.flex-banner{
		display: flex;
		padding: 0 15px;
	}
	.profile{
		display: none;
	}
	.contact-us-profile{
		display: flex;
		align-items: center;
	}
	.hamburger-menu{
		display: flex;
		align-items: center;
		padding-left: 24px;
		padding-top: 6px;
	}
}
@media only screen and (min-width: 320px) and (max-width: 720px){
	.sc-header{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		box-shadow: 0px 3px 6px 0px #6f6262c2;
	}
	.contact-us-profile{
		display: flex;
		align-items: center;
	}
	.paging{
		justify-content: center;
	}
	.paging>div:nth-child(1){
		display: none;
	}
	.title{
		margin: 16px;
	}
	.flex-center{
		margin: 0 16px;
	}
	.flex-center>form{
		flex-wrap: wrap;
	}
	input[type="search"]{
		flex: 0 0 100%;
		margin-bottom: 8px;
	}
	.transaction__type{
		max-width: 100%;
		flex: 0 0 90%;
	}
}
				/*End Media Query*/