/*Reset style*/
.modal-content{
  padding: 24px 0;
}
.padding-modal{
  padding: 0 24px;
  text-align: right;
}

/*Style*/
.donate-but{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}
#name-donate{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.024em;
  color: rgba(101, 1, 7, 0.87);
}
.layout-modal{
  background: #FE616B;
  padding: 24px 0;
  margin-bottom: 24px;
}
.image-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}
.image-modal>img:nth-child(2){
  margin-left: 31px;
  margin-right: 31.27px;
}
.name-modal{
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.024em;
  color: #FFFFFF;
}
.name-modal>img{
  margin-left: 10.5px;
  margin-right: 101.5px;
}
.sender-receiver{
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.024em;
  color: #FFFFFF;
  opacity: 0.72;
}
.sender-receiver>div:nth-child(1){
  margin-right: 201px;
}
.donation-amount{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 19px;
}
.donation-amount>div:nth-child(1){
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.012em;
  color: #650107;
}
.donation-amount>div:nth-child(2){
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.012em;
  color: #650107;
  position: relative;
}
.donation-amount>div:nth-child(2)>span{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-align: right;
  letter-spacing: 0.012em;
  color: #650107;
  opacity: 0.6;
  margin-left: 12px;
}
.donation-amount>div:nth-child(2):after{
  content: '';
  width: 120px;
  height: 1px;
  background: #E8E8E8;
  position: absolute;
  bottom: -4px;
  left: 35%;
  transform: translate(-50%);
}
.surplus{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 22px;
}
#plus>button{
  background: #fff;
  border: 1px solid #FE616B;
  padding: 10px;
  border-radius: 100%;
  width: 5px;
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FE616B;
  font-weight: bold;
  font-size: 16px;
}
.surplus>div:nth-child(1){
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.012em;
  color: rgba(101, 1, 7, 0.6);
}
.surplus>div:nth-child(2){
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.012em;
  color: #FE616B;
  margin-right: 12px;
  margin-left: 16px;
}
.surplus>div:nth-child(2)>span{
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: rgba(101, 1, 7, 0.6);
  opacity: 0.5;
}
.add-mess{
  padding-top: 10px;
  padding-left: 16px;
  max-width: 580px;
  height: 96px;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 24px;
  resize: none;
  color: rgba(101, 1, 7, 0.32);
  caret-color:  rgba(101, 1, 7, 0.32);
}
textarea:focus{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #FE616B;
  outline: none;
  padding-top: 10px;
  padding-left: 16px;
  margin-bottom: 24px;
}
.add-mess::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.012em;
  color: rgba(101, 1, 7, 0.32);
}
#send-donate{
  background: linear-gradient(180deg, #FE858D 0%, #FE616B 100%);
  box-shadow: 0px 6px 24px rgba(254, 97, 107, 0.16);
  border-radius: 8px;
  padding: 10px 24px;
  width: 110px;
  height: 44px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.012em;
  color: #FFFFFF;
  outline: none;
  border: none;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background: #FFFFFF;
  border-radius: 24px;
  margin: auto;
  max-width: 628px;
}

/* The Close Button */
.close {
  color: #650107;
  font-size: 40px;
  font-weight: bold;
  line-height: 20px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}